* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: rgb(154, 187, 236);
  color: #333;
}


nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgb(111, 101, 247);
  padding: 15px 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(41, 228, 172);
  font-weight: bold;
}

.logo {
  color: rgb(30, 218, 193);
}


.section {
  padding: 60px 20px;
  text-align: center;
}


.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.about-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;

}

.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: rgb(156, 169, 241);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 120px;
}


.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.projects img {
  width: 200px;
  border-radius: 10px;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: rgb(1, 2, 15);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


.socials {
  margin-top: 20px;
}


footer {
  background: skyblue;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}